@using Microsoft.AspNetCore.Components.Forms
@using SabeNaoSabe.RazorClassLibrary.Models

@if (Visible)
{
    <h3>@Title</h3>

    <EditForm Model="QuestionarioModel" OnValidSubmit="CreateUpdateQuestionario1">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label form="name">Name</label>
            <InputText id="name" @bind-Value="QuestionarioModel.Name" class="form-control"></InputText>
            <ValidationMessage For="@(()=>QuestionarioModel.Name)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label form="description">Description</label>
            <InputText id="description" @bind-Value="QuestionarioModel.Description" class="form-control"></InputText>
            <ValidationMessage For="@(()=>QuestionarioModel.Description)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label form="email">Email</label>
            <InputText id="email" @bind-Value="QuestionarioModel.Email" class="form-control"></InputText>
            <ValidationMessage For="@(()=>QuestionarioModel.Email)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label form="email">Corpo</label>
            <InputTextArea id="email" @bind-Value="QuestionarioModel.Corpo" class="form-control"></InputTextArea>
            <ValidationMessage For="@(()=>QuestionarioModel.Email)"></ValidationMessage>
        </div>
        <button type="submit" class="btn btn-primary m-md-1">Save</button>
        <button class="btn btn-primary m-md-1" @onclick="CancelQuestionario">Cancel</button>
    </EditForm>
}


@code {
    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public QuestionarioModel QuestionarioModel { get; set; } = new QuestionarioModel();
    [Parameter]
    public EventCallback SaveClicked { get; set; }
    [Parameter]
    public EventCallback CancelClicked { get; set; }

    private async Task CreateUpdateQuestionario1()
    {
        if (Title == "Create") QuestionarioModel.Id = 0;
        await SaveClicked.InvokeAsync(QuestionarioModel);
    }
    private async Task CancelQuestionario()
    {
        QuestionarioModel.Name = null;
        QuestionarioModel.Description = null;

        await CancelClicked.InvokeAsync(QuestionarioModel);
    }
}
